.card {
  position: relative;
  width: 16.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background: var(--element);
  box-shadow: var(--shadow);
}

.card__content {
  padding: 1.5em 1.5em 2.75em 1.5em;
}

.data:not(:last-child) {
  font-size: 0.88rem;
  font-weight: var(--bold);
  margin-bottom: 0.3em;
}

.value {
  padding-left: 0.25rem;
  font-weight: var(--light);
}

.country_name {
  font-size: 1.13rem;
  font-weight: var(--bold-plus);
  margin-bottom: 0.22em;
}

.img__container {
  height: 10em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}