.form {
  background: var(--element);
  box-shadow: var(--shadow);
  display: flex;
  width: min(100%, 30em);
  margin-bottom: 2.5rem;
  border-radius: 0.4em;
}

.input {
  color: var(--input);
  padding: 1.35em;
  padding-left: 0;
  font-size: 0.6875rem;
  width: 100%;
}

.button {
  width: 4rem;
}

.button svg {
  transform: scale(0.7);
}

.filter {
  display: block;
  padding-block: 1.5rem 2rem;
} 

.selector {
  background: var(--element);
  box-shadow: var(--shadow);
  font-size: 0.6875rem;
  padding: 1.35em 3em 1.35em 1.8em;
  color: var(--text);
  border-radius: 0.4em;
}

@media (min-width: 670px) {
  .form {
    margin-bottom: 0;
  }
  .filter {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }
  .input {
    font-size: 0.88rem;
  }
  .button {
    height: 100%;
    width: 4rem;
  }
  .selector {
    font-size: 0.88rem;
  }
}

/* .option {
  position: absolute;
  top: 3em;
  width: 100%;
  background: red;
  
} */