.container {
  width: 85%;
  margin: auto;
}

.paragraph {
  color: red;
}

.text {
  color: var(--text);
  fill: var(--input);
}

@media (min-width: 670px) {
  .container {
    width: min(80rem, 92%);
    margin: auto;
  }
}