:root {
  --light: 300;
  --bold: 600;
  --bold-plus: 800;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(207, 26%, 17%);
    --element: hsl(209, 23%, 22%);
    --text: hsl(0, 0%, 100%);
    --shadow: 0px 0px 4px 4px rgba(43, 57, 69, 0.25);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(0, 0%, 98%);
    --element: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --input: hsl(0, 0%, 52%);
    --shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
  }
}

.light-theme {
  --background: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.dark-theme {
  --background: hsl(207, 26%, 17%);
  --element: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);
  --shadow: 0px 0px 4px 4px rgba(43, 57, 69, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: 'Nunito Sans', sans-serif;
}

img {
  width: 100%;
  max-height: 100%;
}

p, h1, h2, h3{
  color:  var(--text);
}

h1 {
  font-weight: var(--bold);
  font-size: 0.875rem;
}

header {
  background: var(--element);
}

button {
  background: none;
  outline: none;
  border: none;
}

@media (min-width: 670px) {
  h1 {
    font-size: 1.5rem;
  }
}